*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(121, 116, 116);
    width: 100%;
    height: 70vh
}

.top {
    background-color: darkgray;
    height: 20vh;

}

.content {
    margin: auto;
    background-color: white;
    width: 80vw;
    height: 70vh;


}

.bottom {
    margin: auto;
    background-color: black;
    height: 20vh;
    width: 80vw;

}